body {
    height: 100vh;
}

header {
    height: 20vh;
}

header .container {
    height: 100%;
}

.welcome_row {
    padding: 2% 2%;
}

#welcome {
    font-family: 'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive !important;
    font-size: 250%;
}

#navbar{
    /*background-color: rgb(167, 230, 110)*/
    background-color: lightgoldenrodyellow;
}

.nav-link {
    color: rgb(58, 56, 56);
    font-weight: bold;
    padding: 5px 30px !important;
    font-size: 105%;
}

.nav-link:hover{
    color: #fc6c3f !important;
    font-weight: bold;
    box-shadow: 0 -5px 5px -5px #fc6c3f;
}

.active {
    color: #fc6c3f !important;
}

.navbar{
    background-color: lightgoldenrodyellow;
}

#linha_meio {
    /*padding: 6% 6%;*/
}

img {
    transition: width 2s, height 2s, transform 2s;
    max-width: 450px;
    max-height: 400px;
}

img:hover {
    /*transform: rotate(6deg);*/
}

.dropdown-item:hover {
    background-color: #fc6c3f;
    color: white;
}